$color-white: #ffffff;
$color-black: #000000;
$color-red: rgba(229, 45, 45, 1);
$color-light-blue: #e3f2fd;
$color-grey: #666666;

$font-family-primary: 'Alegreya', serif;
$font-family-secondary: 'Roboto', sans-serif;
$font-family-base: 'Roboto', sans-serif;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

$spacing-sm: 8px;
$spacing-md: 16px;

$breakpoint-mobile: 450px;
$breakpoint-tablet: 834px;